[submodule "lookaside/java-1.8.0-openjdk"]
	path = lookaside/java-1.8.0-openjdk
	url = https://github.com/ojdkbuild/lookaside_java-1.8.0-openjdk.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/ojdkbuild/deps_freetype.git
[submodule "tools/bootjdk7"]
	path = tools/bootjdk7
	url = https://github.com/ojdkbuild/tools_bootjdk7.git
[submodule "tools/cmake"]
	path = tools/cmake
	url = https://github.com/ojdkbuild/tools_cmake.git
[submodule "tools/cygwin"]
	path = tools/cygwin
	url = https://github.com/ojdkbuild/tools_cygwin.git
[submodule "tools/make"]
	path = tools/make
	url = https://github.com/ojdkbuild/tools_make.git
[submodule "tools/pkgconfig"]
	path = tools/pkgconfig
	url = https://github.com/ojdkbuild/tools_pkgconfig.git
[submodule "tools/toolchain/directx"]
	path = tools/toolchain/directx
	url = https://github.com/ojdkbuild/tools_toolchain_directx.git
[submodule "tools/toolchain/msvcr100"]
	path = tools/toolchain/msvcr100
	url = https://github.com/ojdkbuild/tools_toolchain_msvcr100.git
[submodule "tools/toolchain/sdk71"]
	path = tools/toolchain/sdk71
	url = https://github.com/ojdkbuild/tools_toolchain_sdk71.git
[submodule "tools/toolchain/vs2010e"]
	path = tools/toolchain/vs2010e
	url = https://github.com/ojdkbuild/tools_toolchain_vs2010e.git
[submodule "tools/zip"]
	path = tools/zip
	url = https://github.com/ojdkbuild/tools_zip.git
[submodule "lookaside/freetype"]
	path = lookaside/freetype
	url = https://github.com/ojdkbuild/lookaside_freetype.git
[submodule "lookaside/zlib"]
	path = lookaside/zlib
	url = https://github.com/ojdkbuild/lookaside_zlib.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/ojdkbuild/deps_zlib.git
[submodule "lookaside/ca-certificates"]
	path = lookaside/ca-certificates
	url = https://github.com/ojdkbuild/lookaside_ca-certificates.git
[submodule "lookaside/tzdata"]
	path = lookaside/tzdata
	url = https://github.com/ojdkbuild/lookaside_tzdata.git
[submodule "lookaside/nspr"]
	path = lookaside/nspr
	url = https://github.com/ojdkbuild/lookaside_nspr.git
[submodule "lookaside/nss"]
	path = lookaside/nss
	url = https://github.com/ojdkbuild/lookaside_nss.git
[submodule "deps/nss"]
	path = deps/nss
	url = https://github.com/ojdkbuild/deps_nss.git
[submodule "lookaside/nss-util"]
	path = lookaside/nss-util
	url = https://github.com/ojdkbuild/lookaside_nss-util.git
[submodule "lookaside/dejavu-fonts"]
	path = lookaside/dejavu-fonts
	url = https://github.com/ojdkbuild/lookaside_dejavu-fonts.git
[submodule "tools/wix"]
	path = tools/wix
	url = https://github.com/ojdkbuild/tools_wix.git
[submodule "tools/wixgen"]
	path = tools/wixgen
	url = https://github.com/ojdkbuild/tools_wixgen.git
[submodule "lookaside/giflib"]
	path = lookaside/giflib
	url = https://github.com/ojdkbuild/lookaside_giflib.git
[submodule "deps/giflib"]
	path = deps/giflib
	url = https://github.com/ojdkbuild/deps_giflib.git
[submodule "lookaside/libpng"]
	path = lookaside/libpng
	url = https://github.com/ojdkbuild/lookaside_libpng.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/ojdkbuild/deps_libpng.git
[submodule "tools/nasm"]
	path = tools/nasm
	url = https://github.com/ojdkbuild/tools_nasm.git
[submodule "lookaside/libjpeg-turbo"]
	path = lookaside/libjpeg-turbo
	url = https://github.com/ojdkbuild/lookaside_libjpeg-turbo.git
[submodule "deps/libjpeg-turbo"]
	path = deps/libjpeg-turbo
	url = https://github.com/ojdkbuild/deps_libjpeg-turbo.git
[submodule "lookaside/curl"]
	path = lookaside/curl
	url = https://github.com/ojdkbuild/lookaside_curl.git
[submodule "lookaside/jansson"]
	path = lookaside/jansson
	url = https://github.com/ojdkbuild/lookaside_jansson.git
[submodule "lookaside/openssl"]
	path = lookaside/openssl
	url = https://github.com/ojdkbuild/lookaside_openssl.git
[submodule "lookaside/popt"]
	path = lookaside/popt
	url = https://github.com/ojdkbuild/lookaside_popt.git
[submodule "tools/perl"]
	path = tools/perl
	url = https://github.com/ojdkbuild/tools_perl.git
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/ojdkbuild/deps_curl.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/ojdkbuild/deps_openssl.git
[submodule "deps/popt"]
	path = deps/popt
	url = https://github.com/ojdkbuild/deps_popt.git
[submodule "contrib/update-notifier"]
	path = contrib/update-notifier
	url = https://github.com/ojdkbuild/contrib_update-notifier.git
[submodule "tools/toolchain/vs2013e"]
	path = tools/toolchain/vs2013e
	url = https://github.com/ojdkbuild/tools_toolchain_vs2013e.git
[submodule "lookaside/java-9-openjdk"]
	path = lookaside/java-9-openjdk
	url = https://github.com/ojdkbuild/lookaside_java-9-openjdk.git
[submodule "tools/bootjdk8"]
	path = tools/bootjdk8
	url = https://github.com/ojdkbuild/tools_bootjdk8.git
[submodule "tools/cygwin64"]
	path = tools/cygwin64
	url = https://github.com/ojdkbuild/tools_cygwin64.git
[submodule "tools/ant182"]
	path = tools/ant182
	url = https://github.com/ojdkbuild/tools_ant182.git
[submodule "tools/gradle18"]
	path = tools/gradle18
	url = https://github.com/ojdkbuild/tools_gradle18.git
[submodule "tools/toolchain/directx-june2010"]
	path = tools/toolchain/directx-june2010
	url = https://github.com/ojdkbuild/tools_toolchain_directx-june2010.git
[submodule "lookaside/openjfx"]
	path = lookaside/openjfx
	url = https://github.com/ojdkbuild/lookaside_openjfx.git
[submodule "deps/openjfx"]
	path = deps/openjfx
	url = https://github.com/ojdkbuild/deps_openjfx.git
[submodule "lookaside/icedtea-web"]
	path = lookaside/icedtea-web
	url = https://github.com/ojdkbuild/lookaside_icedtea-web.git
[submodule "lookaside/tagsoup"]
	path = lookaside/tagsoup
	url = https://github.com/ojdkbuild/lookaside_tagsoup.git
[submodule "lookaside/rhino"]
	path = lookaside/rhino
	url = https://github.com/ojdkbuild/lookaside_rhino.git
[submodule "deps/icedtea-web"]
	path = deps/icedtea-web
	url = https://github.com/ojdkbuild/deps_icedtea-web.git
[submodule "deps/tagsoup"]
	path = deps/tagsoup
	url = https://github.com/ojdkbuild/deps_tagsoup.git
[submodule "deps/rhino"]
	path = deps/rhino
	url = https://github.com/ojdkbuild/deps_rhino.git
[submodule "contrib/itw-launcher"]
	path = contrib/itw-launcher
	url = https://github.com/ojdkbuild/contrib_itw-launcher.git
[submodule "upstream/openjfx-8u"]
	path = upstream/openjfx-8u
	url = https://github.com/ojdkbuild/upstream_openjfx-8u.git
[submodule "tools/python27"]
	path = tools/python27
	url = https://github.com/ojdkbuild/tools_python27.git
[submodule "tools/ruby"]
	path = tools/ruby
	url = https://github.com/ojdkbuild/tools_ruby.git
[submodule "tools/cmake33"]
	path = tools/cmake33
	url = https://github.com/ojdkbuild/tools_cmake33.git
[submodule "tools/gperf"]
	path = tools/gperf
	url = https://github.com/ojdkbuild/tools_gperf.git
[submodule "tools/toolchain/sdk10_1607"]
	path = tools/toolchain/sdk10_1607
	url = https://github.com/ojdkbuild/tools_toolchain_sdk10_1607.git
[submodule "tools/toolchain/vs2017bt"]
	path = tools/toolchain/vs2017bt
	url = https://github.com/ojdkbuild/tools_toolchain_vs2017bt.git
[submodule "external/jansson"]
	path = external/jansson
	url = https://github.com/ojdkbuild/external_jansson.git
